body {
    background-color: lightblue;
    color: red;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: rgb(205, 255, 242);
    color: rgb(8, 64, 23);
    font-family: Arial;
}
footer {
    background-color: lightgoldenrodyellow;
    color: darkgreen;
    font-family: impact;
    
}